# excluding VSCode settings folder
.vscode/

# excluding sample projects
/sample_projects/

# excluding local data files
/data/

# excluding the whole "doc" folder except for .tex and .pdf files
/doc/*
!/doc/
!/doc/**/*.tex
!/doc/**/*.pdf