asttokens
comm
contourpy
cycler
debugpy
decorator
exceptiongroup
executing
fonttools
importlib_metadata
ipykernel
ipython
jedi
joblib
jupyter_client
jupyter_core
kiwisolver
matplotlib
matplotlib-inline
nest_asyncio
numpy
packaging
pandas
parso
pexpect
pickleshare
pillow
pip
platformdirs
prompt_toolkit
psutil
ptyprocess
pure_eval
Pygments
pyparsing
python-dateutil
pytz
pyzmq
scikit-learn
scipy
seaborn
setuptools
six
stack_data
threadpoolctl
tornado
traitlets
typing_extensions
tzdata
wcwidth
wheel
zipp
